.page{
    display: flex;
    align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 0 10%;
  background-image: url("/src/assets/imgs/login/background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
    //justify-content: center;
}

.window{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 100px;
  background-color: rgb(255 255 255 / 25%);
  border-radius: 24px;
  backdrop-filter: blur(24px);
  //position: absolute;
  //top: 90px;
  //left: 90px;
  //width: 592px;

  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
  }

  .title{
    color: rgb(51 51 51 / 100%);
    font: var(--font-4xl-semibold);
    text-wrap: nowrap;
  }

  .text{
    color: rgb(102 102 102 / 100%);
    font: var(--font-l-regular);
    line-height: 1.5;
    text-wrap: nowrap;
  }
}

.form{
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  width: 100%;

  .label{
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;

    .text{
        color: rgb(102 112 133 / 100%);
        font: var(--font-m-medium);
        text-wrap: nowrap;
    }
  }

  .input{
    width: unset;
    background-color: var(--color-white);

    input{
      color: var(--color-grey-400);
      font: var(--font-l-regular);
    }

    .icon{
      width: var(--icon-sm);
      height: var(--icon-sm);
      background-color: var(--color-grey-600);
    }

    .user{
      mask: url('/src/assets/imgs/input/user.svg') no-repeat center;
    }

    .lock{
      mask: url('/src/assets/imgs/input/lock.svg') no-repeat center;
    }
  }

  .button{
    justify-content: center;
    font: var(--font-l-regular);
    text-align: center;
  }

}
