.tableCell{
  box-sizing: border-box;
  background-color: inherit;
  //height: max-content;
}

.tableCell.arrayInRow{
  vertical-align: middle;
}

.footer{
  vertical-align: middle;

  .cellElement{
    padding: 21px 24px;
    font: var(--font-s-semibold);
    border-top: var(--border-grey-200-regular);
  }
  .cellElement:last-child{
    border-bottom: var(--border-grey-200-regular);
  }

}

.cellElement{
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px 24px;
  color: var(--color-grey-700);
  font: var(--font-s-regular);
  text-wrap: nowrap;
}
.tableCell{
  border-right: var(--border-grey-200-regular);
}
.tableCell:last-child {
  border-right: none;
}

.cellElement.array{
  flex-direction: column;
  align-items: start;
}

.onClickCell{
  cursor: pointer;
}

.asideHeader{
  position: sticky;
  left: 0;
  z-index: 1;
}

