.card{
  display: flex;
  flex-direction: column;
  width: 362px;
  background-color: var(--color-white);
  border: var(--border-grey-200-regular);
    border-radius: var(--border-radius-m);
  }

.header{
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  border-bottom: var(--border-grey-200-regular);

    .title{
      display: flex;
      align-items: center;
      gap: 8px;

    .text{
      color: var(--color-grey-700);
      font: var(--font-m-semibold);
    }
  }

  .settingButton{
    width: var(--icon-lg);
    height: var(--icon-lg);
    padding: 8px;

    .settingArea{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    .icon {
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: var(--color-grey-600);
      mask: url('/src/assets/imgs/button/more-vertical.svg') no-repeat 50% 50%;
    }

    .actionsList{
      position: absolute;
      display: none;
    }
  }

  .settingButton:hover,  .settingArea.opened{
    .settingArea {
      width: 234px;
      height: calc(8px * 2 + var(--icon-lg) + 177px);
    }

    .settingArea:hover .actionsList {
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      align-items: start;
      box-sizing: border-box;
      width: 100%;
      height: 177px;
      margin-top: calc(8px * 2 + var(--icon-lg));
      padding: 0 8px;
      background-color: var(--color-white);
      border-radius: 6px;
      box-shadow: var(--effect-shadow-m-center);

      .item {
        padding: 8px;
        color: var(--color-grey-700);
        font: var(--font-m-regular);
      }

      .options {
        color: var(--color-grey-400);
      }

      .delete {
        margin-top: 8px;
        padding-top: 16px;
        border-top: var(--border-grey-200-regular);

      }
    }
  }


}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .item{
      color: var(--color-grey-500);
      font: var(--font-xxs-regular)
    }
  }

  .connections{
    display: flex;
    gap: 4px;

    .item{
      position: relative;
      width: 30px;
      height: 30px;
      padding: 4px;
      background-color: var(--color-white);
        border: var(--border-grey-200-regular);
      border-radius: var(--border-radius-s);
    }

      .item::after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .google::after{
        background-image: url('/src/assets/imgs/audience/google.png');
      }

      .yandex::after{
        background-image: url('/src/assets/imgs/audience/yandex.jpg');
    }

      .facebook::after{
      background-image: url('/src/assets/imgs/audience/facebook.png');
    }

  }
}

.content{
  padding: 12px 14px;
  border-bottom: var(--border-grey-200-regular);

  .text{
    color: var(--color-grey-700);
    font: var(--font-xs-regular);
  }
}
