.card{
  display: flex;
  flex-direction: column;
  flex: 1 1 300px; /* Базовая ширина карточки - 300px, карточки равномерно распределяются */
  max-width: 362px; /* Максимальная ширина */
  height: min-content;
  background-color: var(--color-white);
  border: var(--border-grey-200-regular);
    border-radius: var(--border-radius-m);
  }

.header{
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  border-bottom: var(--border-grey-200-regular);

    .title{
      display: flex;
      align-items: center;
      gap: 8px;

    .text{
      color: var(--color-grey-700);
      //color: black;
      font: var(--font-m-semibold);
    }
  }

  .settingButton{
    width: var(--icon-lg);
    height: var(--icon-lg);
    padding: 8px;

    .settingArea{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    .icon {
      //z-index: -1;
      width: 100%;
      height: 100%;
      background-color: var(--color-grey-600);
      mask: url('/src/assets/imgs/button/more-vertical.svg') no-repeat 50% 50%;
    }

    .actionsList{
      position: absolute;
      display: none;
    }
  }

  .settingButton:hover,  .settingArea.opened{
    .settingArea {
      width: 234px;
      height: calc(8px * 2 + var(--icon-lg) + 221px);
    }

    .settingArea:hover .actionsList {
      z-index: 1;
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      align-items: start;
      box-sizing: border-box;
      width: calc(2px + 100%);
      height: 221px;
      margin-top: calc(8px * 2 + var(--icon-lg));
      cursor: default;
      background-color: var(--color-white);
      border-radius: 6px;
      box-shadow: var(--effect-shadow-m-center);

      .item {
        box-sizing: border-box;
        width: 100%;
        text-align: start;
        text-wrap: nowrap;
        padding: 10px 16px;
        color: var(--color-grey-700);
        font: var(--font-m-regular);
        background-color: var(--color-white);
        cursor: pointer;
      }
      .item:hover {
        background-color: var(--color-grey-50);
      }
      .item:active {
        background-color: var(--color-grey-100);
      }

      .options, .options:hover, .options:active, .disabled, .disabled:hover, .disabled:active {
        color: var(--color-grey-400);
        background-color: var(--color-white);
        cursor: default;

      }
      .divider {
        box-sizing: border-box;
        padding: .5px;
        margin: 8px;
        width: calc(100% - 16px);
        background-color: var(--color-grey-200);
        cursor: default;
      }
      .delete:hover {
        background-color: var(--color-red-50);
        color: var(--color-red-600);
      }
      .delete:active {
        background-color: var(--color-red-100);
        color: var(--color-red-600);

      }
    }
  }


}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  gap: 6px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .item{
      color: var(--color-grey-500);
      font: var(--font-xxs-regular);
      text-wrap: nowrap;

    }
  }

  .connections{
    display: flex;
    gap: 4px;

    .item{
      position: relative;
      width: 30px;
      height: 30px;
      padding: 4px;
      background-color: var(--color-white);
        border: var(--border-grey-200-regular);
      border-radius: var(--border-radius-s);
    }

      .item::after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .google::after{
        background-image: url('/src/assets/imgs/audience/google.png');
      }

      .yandex::after{
        background-image: url('/src/assets/imgs/audience/yandex.jpg');
    }

      .facebook::after{
      background-image: url('/src/assets/imgs/audience/facebook.png');
    }

  }
}

.content{
  padding: 12px 14px;
  border-bottom: var(--border-grey-200-regular);

  .text{
    color: var(--color-grey-700);
    font: var(--font-xs-regular);
  }
}
