
.delete{
	width: 100%;
	height: 100%;
	background-color: var(--color-grey-600);
	mask: url('/src/assets/imgs/button/trash-2.svg') no-repeat 50% 50%;
}
.update{
	width: 100%;
	height: 100%;
	background-color: var(--color-grey-600);
	mask: url('/src/assets/imgs/button/edit-2.svg') no-repeat 50% 50%;
}

.actionButton{
	width: var(--icon-lg);
	height: var(--icon-lg);
	padding: 8px;
}


