*{
  --border-radius-curcle: 50%;
  --border-radius-xs: 8px;
  --border-radius-s: 10px;
  --border-radius-m: 12px;

  --border-grey-100-medium: 2px solid var(--color-grey-100);
  --border-grey-200-regular: 1px solid var(--color-grey-200);
  --border-grey-200-medium: 1.5px solid var(--color-grey-200);

  --border-grey-300-regular: 1px solid var(--color-grey-300);
  --border-grey-400-regular: 1px solid var(--color-grey-400);

  --border-blue-300-regular: 1px solid var(--color-blue-300);
}