*{
  --effect-shadow-m-down: 0 10px 16px 0 rgb(0 0 0 / 5%);
  --effect-shadow-m-center: 0 1px 16px 0 rgb(0 0 0 / 5%);
  --effect-shadow-l-center: 0 1px 30px 0 rgb(0 0 0 / 8%);
  --effect-grey-shadow: 0 0 0 4px var(--color-grey-100);
  --effect-primary-shadow:  0 0 0 4px var(--color-blue-100);
  --effect-red-shadow: 0 0 0 4px var(--color-red-100);
}