@font-face {
	font-weight: 400;
	font-family: 'Regular';
	src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Medium';
	src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Semibold';
	src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
@font-face {
	font-weight: 700;
	font-family: 'Bold';
	src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
* {
	/* Font Sizes */
	--font-xxs-regular: 10px/1.3 Regular;
	--font-xxs-medium: 10px/1.3 Medium;
	--font-xxs-semibold: 10px/1.3 Semibold;
	--font-xxs-bold: 10px/1.3 Bold;

	--font-xs-regular: 12px/1.3 Regular;
	--font-xs-medium: 12px/1.3 Medium;
	--font-xs-semibold: 12px/1.3 Semibold;

	--font-s-regular: 14px/1.3 Regular;
	--font-s-medium: 14px/1.3 Medium;
	--font-s-semibold: 14px/1.3 Semibold;

	--font-m-regular: 16px/1.3 Regular;
	--font-m-medium: 16px/1.3 Medium;
	--font-m-semibold: 16px/1.3 Semibold;

	--font-l-regular: 18px/1.3 Regular;
	--font-l-medium: 18px/1.3 Medium;
	--font-l-semibold: 18px/1.3 Semibold;

	--font-4xl-regular: 36px/1.3 Regular;
	--font-4xl-medium: 36px/1.3 Medium;
	--font-4xl-semibold: 36px/1.3 Semibold;
}

