.container{
  position: relative;
  box-sizing: border-box;
  width: min-content;
}

.inputDate{
  justify-content: start;
  width: max-content;
}

.inputDate input{
  width: 195px;
}

.imgCalendar {
  width: var(--icon-sm);
  height: var(--icon-sm);
  mask: url('/src/assets/imgs/button/calendar.svg') no-repeat center;
  background-color: var(--color-grey-400);
}

.imgCalendar.active{
  background-color: var(--color-grey-700);
}

.calendarDropdown{
  position: absolute;
  top: calc(100% + 9px);
  left: calc(100% - 756px);
  z-index: 20;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-white);
  border: var(--border-grey-200-medium);
  border-radius: var(--border-radius-m);
  box-shadow: var(--effect-shadow-l-center);
  //top: 0;
  //left: 0;
  //width: 757px;
  //width: 100%;
}

.calendarArea{
  display: flex;
  gap: 50px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--color-white);
  //align-items: center;

}

.day{
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
  border-spacing: 0;


  span{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  padding: 14px 15px;
  color: var(--color-grey-800);
  font: var(--font-s-medium);
    border: transparent solid 2px;
  cursor: pointer;
    //width: 100%;
    //height: 100%;
  }
}

.day:not(.differentMonth, .chosen):hover span {
   background-color: var(--color-white);
   border: var(--border-blue-500-medium);
   border-radius: var(--border-radius-curcle);
 }

.dayTitle{
  box-sizing: border-box;
  padding: 24px 14.5px 16px;
  color: var(--color-grey-500);
  font: var(--font-s-medium);
  text-align: center;
  vertical-align: middle;
  //width: 46px;
  //height: 46px;
}

.differentMonth span{
  color: var(--color-grey-300);
  cursor: default;
}

.week{
  border-bottom: var(--color-white) solid 3px;
}

.inRange{
  background-color: var(--color-grey-100);

}

.inRange.chosenEnd, .sunday{
  border-top-right-radius: var(--border-radius-curcle);
  border-bottom-right-radius: var(--border-radius-curcle);

}

.inRange.chosenStart, .monday{
  border-top-left-radius: var(--border-radius-curcle);
  border-bottom-left-radius: var(--border-radius-curcle);
}

.chosen span {
  color: var(--color-white);
  background-color: var(--color-blue-500);
  border-radius: var(--border-radius-curcle);
}

.month{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 23px;
}

.monthTitle{
  box-sizing: border-box;
  width: 100%;
  color: var(--color-grey-800);
  font: var(--font-s-medium);
  text-align: center;
  text-transform: capitalize;
}

.icon{
    position: absolute;
    box-sizing: border-box;
    width: var(--icon-sm);
    height: var(--icon-sm);
    margin: 0 auto;
    background-color: var(--color-grey-600);
    cursor: pointer;
    mask: url("/src/assets/imgs/sidebar/arrow.svg") no-repeat center;
}

.icon.left{
    left: 0;
  transform: rotate(-90deg);
}

.icon.right{
    right: 0;
    transform: rotate(90deg);
}

.timeCalendar{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: center;
    gap: 3px;
    box-sizing: border-box;
}

.timeRange{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-sizing: border-box;
    padding-top: 10px;
}

.timeInput{
  gap: 3px;
  width: max-content;
  height: unset;
  padding: 3px 12px;
  cursor: pointer;

}

.timeInput input[type="number"]::-webkit-inner-spin-button,
.timeInput input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

/* Скрыть стрелки для Firefox */

.timeInput input[type="number"] {
  width: 18px;
  color: var(--color-grey-800);
  font: var(--font-s-medium);
  cursor: pointer;
  appearance: textfield;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    background-color: var(--color-grey-600);
  transform: rotate(180deg);
    mask: url("/src/assets/imgs/sidebar/arrow.svg") no-repeat center;
    mask-size: 60% 60%;
  mask-position: center center;

}

.footer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--color-white);
    border-top: var(--border-grey-200-medium);
    border-bottom-right-radius: var(--border-radius-m);
    border-bottom-left-radius: var(--border-radius-m);

  .label{
    color: var(--color-grey-500);
    font: var(--font-s-regular);
  }

  .buttons{
    display: flex;
    gap: 10px;

  }
}
