.container{

  box-sizing: border-box;
  position: relative;
  width: min-content;
}
.inputDate{
  justify-content: start;
  width: max-content;
}
.inputDate input{
  width: 195px;
}
.imgCalendar {
  width: var(--icon-sm);
  height: var(--icon-sm);
  mask: url('/src/assets/imgs/button/calendar.svg') no-repeat center;
  background-color: var(--color-grey-400);
}
.imgCalendar.active{
  background-color: var(--color-grey-700);
}
.calendarDropdown{
  box-sizing: border-box;
  position: absolute;
  //top: 0;
  top: calc(100% + 9px);
  //left: 0;
  left: calc(100%  - 756px);
  //width: 757px;
  //width: 100%;
  overflow: hidden;
  z-index: 20;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
  border: var(--border-grey-200-medium);
  box-shadow: var(--effect-shadow-l-center);
}
.calendarArea{
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  //align-items: center;
  padding: 20px;
  background-color: var(--color-white);

}

.day{
  box-sizing: border-box;
  border-spacing: 0;
    border-collapse: collapse;
  text-align: center;
    vertical-align: middle;
  width: 42px;
  height: 42px;


  span{
    box-sizing: border-box;
    display: flex;
    border: transparent solid 2px;
    align-items: center;
    justify-content: center;
    //width: 100%;
    //height: 100%;
  padding: 14px 15px;
  cursor: pointer;

  color: var(--color-grey-800);
  font: var(--font-s-medium);
  }
}
.day:not(.differentMonth):not(.chosen):hover span {
   border-radius: var(--border-radius-curcle);
   background-color: var(--color-white);
   border: var(--border-blue-500-medium);
 }

.dayTitle{
  box-sizing: border-box;
  padding: 24px 14.5px 16px;
  //width: 46px;
  //height: 46px;
  text-align: center;
  vertical-align: middle;
  color: var(--color-grey-500);
  font: var(--font-s-medium);
}
.differentMonth span{
  color: var(--color-grey-300);
  cursor: default;
}
.week{
  border-bottom: var(--color-white) solid 3px;
}

.inRange{
  background-color: var(--color-grey-100);

}
.inRange.chosenEnd, .sunday{
  border-bottom-right-radius: var(--border-radius-curcle);
  border-top-right-radius: var(--border-radius-curcle);

}
.inRange.chosenStart, .monday{
  border-bottom-left-radius: var(--border-radius-curcle);
  border-top-left-radius: var(--border-radius-curcle);
}
.chosen span {
  border-radius: var(--border-radius-curcle);
  background-color: var(--color-blue-500);
  color: var(--color-white);
}

.month{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 23px;
}
.monthTitle{
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  color: var(--color-grey-800);
  font: var(--font-s-medium);
  text-transform: capitalize;
}
.icon{
    box-sizing: border-box;
    position: absolute;

    margin: 0 auto;
    cursor: pointer;
    mask: url("/src/assets/imgs/sidebar/arrow.svg") no-repeat center;
    background-color: var(--color-grey-600);
    width: var(--icon-sm);
    height: var(--icon-sm);
}
.icon.left{
    left: 0;
  transform: rotate(-90deg);
}
.icon.right{
    right: 0;
    transform: rotate(90deg);
}
.timeCalendar{
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    align-items: center;
    gap: 3px;
}
.timeRange{
    box-sizing: border-box;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.timeInput{
  height: unset;
  width: max-content;
  padding: 3px 12px;
  gap: 3px;
  cursor: pointer;

}
.timeInput input[type=number]::-webkit-inner-spin-button,
.timeInput input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрыть стрелки для Firefox */
.timeInput input[type=number] {
  -moz-appearance: textfield;
  width: 18px;
  font: var(--font-s-medium);
  color: var(--color-grey-800);
  cursor: pointer;
}
.arrow{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;

    background-color: var(--color-grey-600);
    mask: url("/src/assets/imgs/sidebar/arrow.svg") no-repeat center;
    mask-size: 60% 60%;
  mask-position: center center;
  transform: rotate(180deg);

}
.footer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    gap: 30px;
    background-color: var(--color-white);
    border-top: var(--border-grey-200-medium);
    border-bottom-left-radius: var(--border-radius-m);
    border-bottom-right-radius: var(--border-radius-m);
  .label{
    color: var(--color-grey-500);
    font: var(--font-s-regular);
  }
  .buttons{
    display: flex;
    gap: 10px;

  }
}
