
.tableRow{
  position: sticky;
  top: -1px;
  z-index: 10;
  box-sizing: border-box;
  background-color: var(--color-grey-50);
  border-collapse: collapse;
  border-spacing: 0;
  will-change: top;
}

.tableRow th{
  vertical-align: middle;
}

.asideHeader{
  position: sticky;
  left: 0;
  z-index: 5;
  will-change: top;
}

.cellElement{
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  padding: 12px 24px;
  color: var(--color-grey-500);
  font: var(--font-s-medium);
  text-wrap: nowrap;
  background-color:var(--color-grey-50);
  //justify-content: space-between;
  //width: 250px;
}

.tableRow th:not(.isNotSortable) .cellElement::after{
  content: url("/src/assets/imgs/table/sort.svg");
  width: 16px;
  height: 16px;
}

.isInVisible{
  visibility: hidden;
  opacity: 0;
}

.isId{
  display: flex;
}

.isId.isInVisible{
  visibility: visible;
  opacity: 1;
}
