.modal{
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
}
.modal.isOpen{
  visibility: visible;
  opacity: 1;
  display: flex;
}
.modal.dropDown.isOpen{
  position: absolute;
  background-color: transparent;
}

.modal.windowMode.isOpen{
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background-color: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
}

.window{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 70vh;
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
  overflow: hidden;
  box-shadow: var(--effect-shadow-l-center);
}

.header{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: var(--border-grey-100-medium);
  background-color: var(--color-white);
}

.title{
  color: var(--color-grey-700);
  font: var(--font-l-semibold);
}

.close{
  position: relative;
  width: var(--icon-sm);
  height: var(--icon-sm);
  cursor: pointer;
  transform: rotate(45deg);
}

.close::before, .close::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-grey-600);
}

.close::before{
  transform: rotate(90deg);
}

.close::after{
  transform: rotate(0deg);
}

.content{
  flex-grow: 2;
  padding: 4px 20px;
  overflow-y: auto;
}

.footer{
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  gap:8px;
  padding: 20px;
  border-top: var(--border-grey-100-medium);
  background-color: var(--color-white);
}