.modal{
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.modal.isOpen{
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal.dropDown.isOpen{
  position: absolute;
  background-color: transparent;
}

.dropDown{
  top: calc(100% - 13px + 8px);
  left: calc(100% - 13px - 408px);
  flex-grow: 2;
}

.modal.windowMode.isOpen{
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px;
  overflow-y: hidden;
  background-color: rgb(0 0 0 / 40%);
  backdrop-filter: blur(5px);

}

.modal.windowMode.isOpen .forScroll{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-height: 100%;
  overflow: hidden auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
}

.forScroll::-webkit-scrollbar{
  width: 16px;
}

.forScroll::-webkit-scrollbar-track{
  border-radius: var(--border-radius-m);
}

.forScroll::-webkit-scrollbar-thumb{
  background-clip: padding-box;
  border: transparent solid 4px;
  border-radius: var(--border-radius-m);
}

.window{
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
  box-shadow: var(--effect-shadow-l-center);
}

.modal.windowMode.isOpen .window{
  flex-grow: 0;
  width: 408px;
  background-color: var(--color-white);

}

.header{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-white);
  border-bottom: var(--border-grey-100-medium);
  border-top-left-radius: var(--border-radius-m);
  border-top-right-radius: var(--border-radius-m);
}

.title{
  color: var(--color-grey-700);
  font: var(--font-l-semibold);
}

.close{
  position: relative;
  width: var(--icon-sm);
  height: var(--icon-sm);
  cursor: pointer;
  transform: rotate(45deg);
}

.close::before, .close::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--color-grey-600);
}

.close::before{
  transform: rotate(90deg);
}

.close::after{
  transform: rotate(0deg);
}

.content{
  flex-grow: 2;
  padding: 4px 20px;
  border-radius: var(--border-radius-m);
}

.footer{
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  gap:8px;
  padding: 20px;
  background-color: var(--color-white);
  border-top: var(--border-grey-100-medium);
  border-bottom-right-radius: var(--border-radius-m);
  border-bottom-left-radius: var(--border-radius-m);

}

.windowMode .header{
  position: sticky;
  top: 0;
  z-index: 1;
}

.windowMode .footer{
  position: sticky;
  bottom: 0;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}