.container {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-100);
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.item{
  cursor: pointer;
  flex: 1 1 0;
  border-radius: var(--border-radius-xs);
  padding: 6px 14px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  color: var(--color-grey-700);
  z-index: 2; /* Поверх фона */
  font: var(--font-s-medium);
}
.switch{
  position: absolute;
  width: 50%; /* Покрывает половину контейнера */
  height: calc(100% - 8px); /* Высота контейнера минус отступы */
  border-radius: var(--border-radius-xs);
  top: 4px; /* Отступ сверху */
  transition: transform 0.7s ease, background-color 0.3s ease;
  z-index: 1;
}

.item.active ~ .switch {
  background-color: var(--color-white);
}

.itemLeft.active ~ .switch {
  transform: translateX(0);
}
.itemRight.active ~ .switch {
  transform: translateX(100%);
}




