.container {
  position: relative;
  display: flex;
  //flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  padding: 4px;
  overflow: hidden;
  background-color: var(--color-grey-100);
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
}

.item{
  position: relative;
  z-index: 2; /* Поверх фона */
  flex-grow: 1;
  flex-shrink: 1;
  padding: 6px 14px;
  overflow: hidden;
  color: var(--color-grey-700);
  font: var(--font-s-medium);
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius-xs);
  cursor: pointer;
}

.switch{
  position: absolute;
  top: 4px; /* Отступ сверху */
  z-index: 1;
  width: 50%; /* Покрывает половину контейнера */
  height: calc(100% - 8px); /* Высота контейнера минус отступы */
  border-radius: var(--border-radius-xs);
  transition: transform 0.7s ease, background-color 0.3s ease;
}

.item.active ~ .switch {
  background-color: var(--color-white);
}

.itemLeft.active ~ .switch {
  transform: translateX(0);
}

.itemRight.active ~ .switch {
  transform: translateX(100%);
}




