*{
  --input-border-color: rgb(208 213 221 / 100%);
  --input-text-color: rgb(152 162 179 / 100%);
  --border-radius: 6px;
  --focused-text-color: rgb(71 84 103 / 100%);
  --input-padding: 14px 16px;
}