
.container{
  padding: 4px 8px;
  border-radius: var(--border-radius-xs);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  .text{
    font: var(--font-xs-medium);
  }

  .close::before, .close::after{
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;

    width: 10px;
    height: 1.5px;
  }

  .close::before{
    transform: rotate(45deg);
  }

  .close::after{
    transform: rotate(-45deg);
  }
}

.red{
  background-color: var(--color-red-50);
  .text{
    color: var(--color-red-600);
  }
  .close{
    background-color: var(--color-red-600);
  }
}

.grey{
  background-color: var(--color-grey-100);
  .text{
    color: var(--color-grey-600);
  }
  .close{
    background-color: var(--color-grey-600);
  }
}

.green{
  background-color: var(--color-kelli-green-50);
  .text{
    color: var(--color-kelli-green-700);
  }
  .close{
    background-color: var(--color-kelli-green-700);
  }
}

.yellow{
  background-color: var(--color-yellow-50);
  .text{
    color: var(--color-yellow-700);
  }
  .close{
    background-color: var(--color-yellow-700);
  }
}






