.header {
	display: flex;
	flex-direction: column;
	gap: 4px;
	box-sizing: border-box;

	.title {
		box-sizing: border-box;
		color: var(--color-grey-900);
		font: var(--font-l-semibold);
	}
}

.breadcrumb {
	box-sizing: border-box;

	.breadcrumb__link {
		box-sizing: border-box;
		color: var(--color-grey-500);
		font: var(--font-xs-medium);
		text-decoration: none;
	}

	.breadcrumb__link::after {
		content: url('../../assets/imgs/header/separator_breadcrumb.svg');
		width: var(--icon-sm);
		height: var(--icon-sm);
		object-position: center;
		object-fit: contain;
		margin: 0 8px;
	}

	.breadcrumb__link_active {
		color: var(--color-grey-800);
	}

	.breadcrumb__link_active::after {
		content: none;
	}
}
