@import url('/src/Components/Header/variables.scss');
@import url('/src/font-variables.scss');

.header {
	display: flex;
	flex-direction: column;
	gap: 4px;
	box-sizing: border-box;

	.title {
		box-sizing: border-box;
		color: var(--header-h1-color);
		font: var(--font-weight-semibold) var(--font-size-l) / 1
			var(--font-family-inter-bold);
	}
}

.breadcrumb {
	box-sizing: border-box;

	.breadcrumb__link {
		box-sizing: border-box;
		color: var(--header-breadcrumb-color);
		font: var(--font-weight-medium) var(--font-size-xs) / 1
			var(--font-family-inter-bold);
		text-decoration: none;
	}

	.breadcrumb__link::after {
		content: url('../../assets/imgs/header/separator_breadcrumb.svg');
		width: 16px;
		height: 16px;
		margin: 0 8px;
	}

	.breadcrumb__link_active {
		color: var(--header-breadcrumb-last-color);
	}

	.breadcrumb__link_active::after {
		content: none;
	}
}
