.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}

.label{
  align-self: start;
  color: var(--color-grey-500);
  font: var(--font-s-medium);
}
.label.required::after{
  content: '*';
  color: var(--color-red-300);
}

.toggle{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 38px 12px 14px;
  color: var(--color-grey-400);
  font: var(--font-m-regular);
  background-color: white;
  border: rgb(208 213 221 / 100%) solid 1px;
  border-radius: var(--border-radius-xs);
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
  //width: 360px;
  //justify-content: space-between;
}

.toggle::after{
  content: '';
  position: absolute;
  right: 12px;
  width: var(--icon-sm);
  height: var(--icon-sm);
  background-color: var(--color-grey-600);
  transform: rotate(180deg);
  mask: url('/src/assets/imgs/sidebar/arrow.svg') no-repeat center;
}

.toggle:hover{
  border: var(--border-grey-400-regular);
}

.toggle.active {
  border: var(--border-grey-300-regular);
  box-shadow: var(--effect-grey-shadow);
}
.toggle.invalid{
  border: var(--color-red-300) solid 1px;
}

.toggle.invalid.active{
  box-shadow: var(--effect-red-shadow);
}

.menu {
  position: absolute;
  top: calc(100% + 12px);
  left: -1px;
  z-index: 2;
  width: calc(100% + 2px);
  max-height: 185px;
  overflow-y: auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
  box-shadow: var(--effect-shadow-m-center);
  display: flex;
  flex-direction: column;
}

.menu::-webkit-scrollbar{
  width: 16px;
}

.menu::-webkit-scrollbar-track{
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
}

.menu::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-200);
  background-clip: padding-box;
  border: transparent solid 4px;
  border-radius: var(--border-radius-m);
}

.option {
  align-self: start;
  padding: 10px 16px;
  color: var(--color-grey-700);
  font: var(--font-m-regular);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.option:hover {
  background-color: var(--color-grey-50);
}

.option.selected {
  background-color: var(--color-grey-50);
}

.option.selected::after{
    content: '';
    position: absolute;
    right: 12px;
    width: var(--icon-sm);
    height: var(--icon-sm);
    background-color: var(--color-blue-500);
    mask: url('/src/assets/imgs/checkbox/checked.svg') no-repeat center;
}

.option.selected:hover {
  background-color: var(--color-grey-100);
}

