.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 0 16px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow: auto;
  scroll-behavior: smooth;
  justify-content: start;

  /* Firefox */
  //scrollbar-width: thin;
  //scrollbar-color: var(--color-grey-200) var(--color-white);
}

/* WebKit-браузеры (Chrome, Safari, Edge) */

.cards::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: var(--border-radius-m);
}

.cards::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: var(--border-radius-m);
}

.cards::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-200);
  border-radius: var(--border-radius-m);
}