@import url('/src/Components/Sidebar/variables.scss');
@import url('/src/font-variables.scss');

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: var(--sidebar-bg-color);

	.navigation {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	box-sizing: border-box;
	padding: 16px;

	.list__item {
		display: flex;
		align-items: center;
		gap: 12px;
		box-sizing: border-box;
		min-width: 196px;
		padding: 8px 12px;
		color: var(--sidebar-text-color);
		font: var(--font-weight-medium) var(--font-size-s) / 1
			var(--font-family-inter-bold);
		white-space: nowrap;
		text-decoration: none;
		border-radius: 8px;
		transition:
			color 0.3s,
			background-color 0.3s;
	}

	.list__item:hover {
		color: var(--sidebar-link-text-hover);
	}

	.list__item_active {
		color: var(--sidebar-link-text-hover);
		background-color: var(--sidebar-link-bg-hover);
	}

	.list__item_requests::before {
		content: url('../../assets/imgs/sidebar/requests.svg');
	}

	.list__item_audience::before {
		content: url('../../assets/imgs/sidebar/audi–µnce.svg');
	}

	.list__item_advertisement::before {
		content: url('../../assets/imgs/sidebar/advertisement.svg');
	}

	.list__item_reports {
		cursor: pointer;
	}

	.list__item_reports::after {
		content: url('../../assets/imgs/sidebar/arrow.svg');
		transform: rotate(180deg) translate(0, -20%);
		transition: transform 0.3s;
	}

	.list__item_reports::before {
		content: url('../../assets/imgs/sidebar/reports.svg');
	}

	.list__item_opened.list__item_reports::after {
		transform: rotate(0deg) translate(0, 0);
	}

	.sublist{
		box-sizing: border-box;
		padding-top: 0;
		visibility: hidden;
		transform: translateY(-20%);
		opacity: 0;
		transition: opacity 0.6s;
	}

	.sublist_opened{
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
		transition: transform 0.3s;
	}
}

.profile {
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-sizing: border-box;
	padding: 16px 24px;
	border-top: rgb(255 255 255 / 20%) 1px solid;

	.profile__info {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.profile__text {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.profile__name {
		color: var(--sidebar-text-color);
		font: var(--font-weight-medium) var(--font-size-m) / 1.25
			var(--font-family-inter-regular);
		text-transform: capitalize;
	}

	.profile__role {
		color: var(--sidebar-text-color-role);
		font: var(--font-weight-medium) var(--font-size-xs) / 1.3
			var(--font-family-inter-regular);
		text-transform: lowercase;
	}

	.profile__avatar {
		width: 48px;
		height: 48px;
		background-color: var(--sidebar-avatar-bg);
		border-radius: 50%;
	}

	.profile__avatar img {
		width: 100%;
		height: auto;
		overflow: hidden;
		object-fit: cover;
		border-radius: 50%;
	}

	.profile__settings {
		display: flex;
		justify-content: center;
	}

	.profile__button {
		color: var(--sidebar-text-color);
		font-size: var(--font-size-xs);
		background-color: transparent;
	}

	.profile__button:hover {
		color: var(--sidebar-link-text-hover);
	}

	.profile__button::before {
		content: url('../../assets/imgs/sidebar/logout.svg');
		width: 16px;
		height: 16px;
	}
}
