.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	min-width: 284px;
	background-color: var(--color-blue-800);

	.navigation {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	box-sizing: border-box;
	padding: 16px;


	.list__item {
		display: flex;
		align-items: center;
		gap: 12px;
		box-sizing: border-box;
		padding: 8px 12px;
		color: var(--color-white-80);
		font: var(--font-s-medium);
		white-space: nowrap;
		text-decoration: none;
		border-radius: var(--border-radius-xs);
		transition:
			color 0.3s,
			background-color 0.3s;
	}

	.list__item:hover {
		color: var(--color-white);
	}

	.list__item::before {
		content: '';
		width: var(--icon-sm);
		height: var(--icon-sm);
		background-color: var(--color-white-80);
		mask-repeat: no-repeat;
		mask-position: center;
	}

	.list__item:hover::before, .list__item_active::before {
		background-color: var(--color-white);
	}

	.list__item_active {
		color: var(--color-white);
		background-color: var(--color-white-10);
	}

	.list__item_requests::before {
		mask-image: url('../../assets/imgs/sidebar/requests.svg');
	}

	.list__item_audience::before, .list__item_users::before {
		mask-image: url('../../assets/imgs/sidebar/audiеnce.svg');
	}

	.list__item_advertisement::before {
		mask-image: url('../../assets/imgs/sidebar/advertisement.svg');
	}

	.list__item_reports::before {
		mask-image: url('../../assets/imgs/sidebar/reports.svg');
	}

	.list__item_reports {
		justify-content: space-between;
		cursor: pointer;

	}

	.list__item_reports::after {
		width: var(--icon-sm);
		height: var(--icon-sm);
		margin-left: auto; /* Отодвигает стрелку вправо */
		background-color: var(--color-white-80);
		transform: rotate(180deg) translate(0, -20%);
		transition: transform 0.3s;
		content: '';
		mask: url('../../assets/imgs/sidebar/arrow.svg');
		mask-repeat: no-repeat;
		mask-position: center;
	}

	.list__item_reports:hover::after {
		background-color: var(--color-white);
	}

	.list__item_admin::before{
		content: none;
	}

	.list__item_admin{
		font: var(--font-s-regular);
	}




	.list__item_opened.list__item_reports::after {
		transform: rotate(0deg) translateY(-10%);
	}

	.sublist{
		display: none;
		box-sizing: border-box;
		padding-top: 0;
		padding-bottom: 0;
		visibility: hidden;
		transform: translateY(-20%);
		opacity: 0;
		transition: opacity 0.6s;

		.list__item:not(.list__item_users)::before{
			content: none;
			mask: none;
		}
	}


	.sublist_opened{
		display: flex;
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
		transition: transform 0.3s;
	}

	.sublist .list__item{
		font: var(--font-xs-medium);
	}
}

.profile {
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-sizing: border-box;
	padding: 16px 24px;
	border-top: var(--color-white-20) 1px solid;

	.profile__info {
		display: flex;
		align-items: center;
		gap: 12px;
	}

	.profile__text {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.profile__name {
		color: var(--color-white);
		font: var(--font-m-medium);
		text-transform: capitalize;
	}

	.profile__role {
		color: var(--color-grey-400);
		font: var(--font-xs-medium);
		text-transform: lowercase;
	}

	.profile__avatar {
		width: var(--icon-xl);
		height: var(--icon-xl);
		overflow: hidden;
		border-radius: var(--border-radius-circle);
	}

	.profile__avatar img {
		overflow: hidden;
		object-fit: cover;
		object-position: center;
		border-radius: var(--border-radius-circle);
	}

	.profile__settings {
		display: flex;
		justify-content: center;
	}

	.profile__button {
		height: unset;
		color: var(--color-white);
		font: var(--font-xs-medium);
		background-color: transparent;
	}

	.profile__button::before {
		content: url('../../assets/imgs/sidebar/logout.svg');
		width: var(--icon-sm);
		height: var(--icon-sm);
		object-position: center;
		object-fit: contain;
	}
}
