* {
	--sidebar-bg-color: rgb(24 73 169 / 100%);
	--sidebar-text-color: rgb(255 255 255 / 80%);
	--sidebar-text-color-role: rgb(159 159 159 / 100%);
	--sidebar-link-bg-hover: rgb(255 255 255 / 10%);
	--sidebar-link-text-hover: rgb(255 255 255 / 100%);
	--sidebar-avatar-bg: rgb(255 255 255 / 20%);
}
