@import url('/src/font-variables.scss');

.tableRow{
  box-sizing: border-box;
  border-top: rgb(234 236 240 / 100%) solid 1.5px;
  border-bottom: rgb(234 236 240 / 100%) solid 1.5px;
}

.cellElement{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 24px;
  font: var(--font-weight-light) var(--font-size-s)/1.2 var(--font-family-inter-regular);
  text-wrap: nowrap;
}

.onClickCell{
  cursor: pointer;
}