.tableRow{
  box-sizing: border-box;
  background-color: var(--color-white);
  border-bottom: var(--border-grey-200-regular);

}
.tableRow.footer{
  position: sticky;
  border: none;

  bottom: -1px;
  z-index: 1;
  height: 60px;
}
.anomaly{
  background-color: var(--color-red-100);
}
.tableRow:last-child {
  border-bottom: none;
}