.form{
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.label, .labelDate{
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
 .span{
  color: var(--color-grey-500);
  font: var(--font-s-medium);
}

.input, .textarea, .labelDate > div > div > div{
  width: 368px;
  height: 46px;
}
.textarea{
    min-height: 140px;
 textarea {
   height: 100%;
   appearance: none;
 }
  textarea::placeholder {
    color: var(--color-grey-400);
     font: var(--font-m-regular);
  }
}
.input{
    input::placeholder {
        color: var(--color-grey-400);
         font: var(--font-m-regular);
    }
}

