.tableWrapper {
  position: relative;
  z-index: 0;
  flex-grow: 2;
  box-sizing: border-box;
  width: 100%;


}
.tableWrapper.hasVerticalScroll{
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
.tableWrapper.hasHorizontalScroll{
  overflow-x: scroll;
  scrollbar-gutter: stable;


  .before{

    position: fixed;
    right: 38px;
    bottom: calc(20px + 18px);
    width: .8px;
    background-color: var(--color-grey-200);



  }
}
.tableWrapper.hasHorizontalScroll::after{
  position: fixed;
  right: 38px;
  bottom: 38px;
  left: 324px ;
  height: .8px;
  background-color: var(--color-grey-200);

  content: "";
}

.table{
  box-sizing: border-box;
  width: 100%;
  //height: 100%;
  min-height: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableHead, .tableBody, .tableFoot{
  background-color: var(--color-grey-50);
}




