*{
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-family-inter-bold: 'Inter Semi Bold', sans-serif;
  --font-family-inter-regular: 'Inter Regular', sans-serif;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;

}