@font-face {
	font-weight: 500 600;
	font-family: 'Inter Semi Bold';
	src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Inter Regular';
	src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}
