.checkbox {
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-200);
  border-radius: 6px;
    cursor: pointer;
}
.checkbox:hover{
  border: 1px solid var(--color-blue-500);
  background-color: var(--color-blue-50);
}
.checkbox.focused{
    border: 1px solid var(--color-blue-300);
    background-color: var(--color-white);
    box-shadow: var(--effect-primary-shadow);
}

.hidden{
  //display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  margin: 0;
  opacity: 0;
  z-index: 1;

}

.checked.focused.checkbox, .checked.checkbox{
  background-color: var(--color-blue-500);
  border: 1px solid var(--color-blue-500);
}
.checkbox.checked:hover{
  //background-color: var(--color-blue-500);
  border: 1px solid var(--color-blue-200);
}
.checked{
  background-image: url("/src/assets/imgs/checkbox/checked.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}

.notAllChecked{
  background-image: url("/src/assets/imgs/checkbox/minus.svg");
}