  .additional::before{
    mask: url('/src/assets/imgs/button/table.svg') no-repeat 50% 50%;

  }

  .modal{
    top: calc(100% - 13px + 8px);
    left: calc(100% - 13px - 516px);
  }

  .modalWindow{
    width: 516px;
    gap: 0;
  }

  .modalContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }

  .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    color: var(--color-grey-700);
    font: var(--font-m-regular);
    text-wrap: nowrap;
  }
