.form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 12px;
  box-sizing: border-box;
  width: 100%;
}

.label, .labelDate{
  display: flex;
  flex-direction: column;

  gap: 6px;
  box-sizing: border-box;
  width: 100%;
}

.span{
  color: var(--color-grey-500);
  font: var(--font-s-medium);
   align-self: start;
}
 .span.required::after{
    content: '*';
   color: var(--color-red-300);
 }

.label .input, ,  .labelDate .inputDate_{
//.labelDate > div > div > div{
  width: 368px;
  height: 46px;
}
.labelDate .inputDate_{
  flex-direction: row-reverse;
}

.label .textarea{
    min-height: 140px;
  width: 368px;

 textarea {
   height: 100%;
   appearance: none;
 }

  textarea::placeholder {
    color: var(--color-grey-400);
     font: var(--font-m-regular);
  }
}

.input{
    input::placeholder {
        color: var(--color-grey-400);
         font: var(--font-m-regular);
    }
}



